body {
	font-family: Gothik, serif;
    margin: 0 auto;
    background-color: black;
}

img {
    width: 100%;
}

.half {
    width: 50%;
    float: left;
    margin-top:40px;
    position: relative;
}
.overlaytext {
    
    font-family:sans-serif;
    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 360px;
    transform: translateX(-50%)
}


/*--navbar----------------------------*/
.navbar {
    background-color: black;
    display: flex;
    padding: 0px;
    font-family: sans-serif;
    color: white;
    position:relative;
    width: 100%;
    top: 0;
    margin-bottom:-100px
}

.navbar_items,
  .navbar {
    flex-direction: column;
  }

.navbar a {
    color: white;
    font-size: 5em; 
    text-decoration:none;
}
.navbar a:hover {
    color:darkgoldenrod;
}
.navbar_link-brand {
    font-family: cursive;
    font-size: 20px;
    letter-spacing: .1em;
    margin-left: 445px;
    margin-bottom:-40px;
}
.navbar_link {
    margin-left: 50px;
    padding: 20px 20px;
}
.navbar .active {
    color: midnightblue;
}

.navbar_items {
    font-size: 9px;
    display:none;
    font-family:cursive;
    text-decoration:underline;
    text-decoration-color: darkgoldenrod;
    letter-spacing: .4em;
}

.navbar_items-right {
    margin-left:0;
}
.navbar_link-toggle {
    padding: 30px;
    display:none;
    font-size: 2.5em;
    color:darkgoldenrod;
}
.navbar_toggleShow {
    display: flex;
  }
.navbar_link-toggle {
    left:0px;
    margin-top: 10px;
    align-self: flex-end;
    display:flex;
    position: absolute;
    cursor:pointer;
} 

/*--navbar----------------------------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 830px;
  position: relative;
  margin: auto;
  margin-top: 200px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:fixed;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/10 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 100px;
  margin-top: 20px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.home-container {
    margin-top: 100px;
}

.video_wrapper{
    margin-top: 200px;
}


.grid-container {
  display: grid;
  grid-template-columns: 640px 640px;
  grid-gap: 10px;
  background-color:black;
  padding: 30px;
  width:100%;
}

.grid-container > div {
  background-color:black;
  text-align:center;
  padding: 0px 0;
  font-size: 19px;
  margin-top: 100px;
  width:100%;

}

.cor_white{
    color:white;
}

.cor_yellow{
    color:darkgoldenrod;
}
.footer {
    text-decoration-color:white;
    text-align: center
    
}